body {
    color: seagreen;
    margin: 0;
    font-family: "Press Start 2P";
    background-color: #00A651;
}

.classd {
    font-size: 120%;
    color: firebrick;
}

.classf {
    font-size: 120%;
    color: navy;
}

.seactionhead {
    background-color: #00A651;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.shead {
    color: white;
    display: inline;
    padding: 0;
    padding: 10px;
}

.logo-text {
    color: white;
    max-width: 250px;
    margin: 0;
    margin-left: 10px;
}

.logo-text:hover {
    background-color: blueviolet;
}

.hui {
    display: flex;
    cursor: pointer;
}

.hui img {
    width: 255px;
    height: 31px;
}

.hui img:hover {
    background-color: darkgoldenrod;
}

.p {
    margin: 0;
    padding: 0;
}

.menu {
    color: white;
    display: inline;
    padding: 0;
    margin-right: 20%;
}

.menytyp {
    margin-left: 20px;
    cursor: pointer;
    display: inline;
}
.menytyp:hover{
    background-color: darkgoldenrod;
}

.klj {
    border-right: solid 2px white;
    height: 31px;
    margin: 0;
    color: #00A651;
}

.banner {
    height: 1000px;
    background-image: url("../images/banner\ 1.png");
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Press Start 2P";
    background-position: fixed;
}

h1 {
    background-color: white;
    font-family: "Press Start 2P";
    border-radius: 11px;
    font-size: 39px;
    padding: 10px;
}

h1:hover {
    background-color: darkgoldenrod;
    color: white;
}

.dfg {
    color: white;
}

.dfg:hover {
    color: black;
}

.programing {
    padding: 30px 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1070px;
    margin: auto;
}

.progtext {
    color: white;
    padding: 30px;
}

.e{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

.aboutme{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1070px;
    margin: auto;
}

.fgf{
    padding-left: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1070px;
    margin: auto;
}

.progt {
    color: white;
    padding: 300px;
}

.hre {
    padding: 30px 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1070px;
    margin: auto;
}
}
